<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Bundle\Model\Product\Type">
        <plugin name="graphcommerce_catalog_storefront_salable" type="GraphCommerce\CatalogStorefront\Plugin\SalableFromDocument"/>
    </type>
    <type name="GraphCommerce\CatalogStorefrontPrice\Model\Read\PriceRanges">
        <arguments>
            <argument name="ranges" xsi:type="array">
                <item name="bundle" xsi:type="object">GraphCommerce\CatalogStorefrontBundleProduct\Model\Read\BundlePriceRange</item>
            </argument>
        </arguments>
    </type>
</config>
