<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ConfigurableProductGraphQl\Model\Resolver\Options">
        <plugin name="graphcommerce_catalog_storefront_configurable_options" type="GraphCommerce\CatalogStorefrontConfigurableProductGraphQl\Plugin\Resolver\ConfigurableOptionsFromDocument"/>
    </type>
    <type name="Magento\ConfigurableProductGraphQl\Model\Resolver\OptionsSelectionMetadata">
        <plugin name="graphcommerce_catalog_storefront_options_selection" type="GraphCommerce\CatalogStorefrontConfigurableProductGraphQl\Plugin\Resolver\OptionsSelectionFromDocuments"/>
    </type>
    <type name="Magento\ConfigurableProductGraphQl\Model\Resolver\ConfigurableVariant">
        <plugin name="graphcommerce_catalog_storefront_variants" type="GraphCommerce\CatalogStorefrontConfigurableProductGraphQl\Plugin\Resolver\VariantsFromDocuments"/>
    </type>
    <type name="GraphCommerce\CatalogStorefrontGraphQl\Model\DocumentHydration">
        <arguments>
            <argument name="prefillers" xsi:type="array">
                <item name="configurableDeprecatedPrice" xsi:type="object">GraphCommerce\CatalogStorefrontConfigurableProductGraphQl\Model\Prefill\DeprecatedPrice</item>
            </argument>
        </arguments>
    </type>
    <type name="GraphCommerce\CatalogStorefrontGraphQl\Plugin\Query\RoutePrefilledFields">
        <arguments>
            <argument name="prefilledFields" xsi:type="array">
                <item name="ConfigurableProductOptionsSelection" xsi:type="array">
                    <item name="media_gallery" xsi:type="string">media_gallery</item>
                </item>
                <item name="ConfigurableProductOptionsValues" xsi:type="array">
                    <item name="uid" xsi:type="string">uid</item>
                    <item name="swatch_data" xsi:type="string">swatch_data</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
