<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="GraphCommerce_CatalogStorefrontConfigurableProductGraphQl">
        <sequence>
            <module name="GraphCommerce_CatalogStorefrontConfigurableProduct"/>
            <module name="GraphCommerce_CatalogStorefrontGraphQl"/>
            <module name="GraphCommerce_CatalogStorefrontPriceGraphQl"/>
            <module name="Magento_ConfigurableProductGraphQl"/>
            <module name="Magento_Swatches"/>
        </sequence>
    </module>
</config>
