<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ConfigurableProductDataExporter\Model\Provider\Product\Options">
        <plugin name="graphcommerce_catalog_storefront_option_value_details" type="GraphCommerce\CatalogStorefrontConfigurableProduct\Plugin\DataExporter\OptionValueDetails"/>
    </type>
    <!-- The compact configurableOptions field carries the super attributes; the raw entries leave optionsV2. -->
    <type name="Magento\CatalogDataExporter\Model\Provider\Product\ProductOptions">
        <plugin name="graphcommerce_catalog_storefront_options_v2_without_configurable" type="GraphCommerce\CatalogStorefrontConfigurableProduct\Plugin\DataExporter\OptionsV2WithoutConfigurable"/>
    </type>
    <type name="Magento\ConfigurableProduct\Model\Product\Type\Configurable">
        <plugin name="graphcommerce_catalog_storefront_salable" type="GraphCommerce\CatalogStorefront\Plugin\SalableFromDocument"/>
    </type>
    <type name="GraphCommerce\CatalogStorefrontPrice\Model\Read\PriceRanges">
        <arguments>
            <argument name="ranges" xsi:type="array">
                <item name="configurable" xsi:type="object">GraphCommerce\CatalogStorefrontConfigurableProduct\Model\Read\ConfigurableRange</item>
            </argument>
        </arguments>
    </type>
</config>
