<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="GraphCommerce_CatalogStorefrontConfigurableProductFrontend">
        <sequence>
            <module name="GraphCommerce_CatalogStorefrontProductFrontend"/>
            <module name="GraphCommerce_CatalogStorefrontConfigurableProduct"/>
            <module name="Magento_ConfigurableProduct"/>
            <module name="Magento_Swatches"/>
        </sequence>
    </module>
</config>
