<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="GraphCommerce\CatalogStorefrontApi\Storage\ProductDocumentStorageInterface"
                type="GraphCommerce\CatalogStorefrontOpenSearch\Model\ProductDocumentStorage"/>
    <preference for="GraphCommerce\CatalogStorefrontApi\Storage\MetadataDocumentStorageInterface"
                type="GraphCommerce\CatalogStorefrontOpenSearch\Model\MetadataDocumentStorage"/>
</config>
