<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ReviewGraphQl\Model\Resolver\Product\Reviews">
        <plugin name="graphcommerce_catalog_storefront_reviews" type="GraphCommerce\CatalogStorefrontReviewGraphQl\Plugin\Resolver\ReviewsFromDocument"/>
    </type>
    <type name="GraphCommerce\CatalogStorefrontGraphQl\Model\DocumentHydration">
        <arguments>
            <argument name="prefillers" xsi:type="array">
                <item name="reviews" xsi:type="object">GraphCommerce\CatalogStorefrontReviewGraphQl\Model\Prefill\Reviews</item>
            </argument>
        </arguments>
    </type>
    <type name="GraphCommerce\CatalogStorefrontGraphQl\Plugin\Query\RoutePrefilledFields">
        <arguments>
            <argument name="prefilledFields" xsi:type="array">
                <item name="ProductInterface" xsi:type="array">
                    <item name="rating_summary" xsi:type="string">rating_summary</item>
                    <item name="review_count" xsi:type="string">review_count</item>
                </item>
                <item name="ProductReview" xsi:type="array">
                    <item name="average_rating" xsi:type="string">average_rating</item>
                    <item name="ratings_breakdown" xsi:type="string">ratings_breakdown</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
