<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="GraphCommerce\CatalogStorefrontGraphQlApi\Read\HydrationInterface" type="GraphCommerce\CatalogStorefrontGraphQl\Model\DocumentHydration"/>

    <type name="Magento\CatalogGraphQl\Model\Resolver\Products\DataProvider\ProductSearch">
        <plugin name="graphcommerce_catalog_storefront_serve_search" type="GraphCommerce\CatalogStorefrontGraphQl\Plugin\DataProvider\ServeSearchFromDocuments"/>
    </type>
    <type name="Magento\CatalogGraphQl\Model\Resolver\Products\DataProvider\Product">
        <plugin name="graphcommerce_catalog_storefront_serve_filter" type="GraphCommerce\CatalogStorefrontGraphQl\Plugin\DataProvider\ServeFilterFromDocuments"/>
    </type>
    <type name="Magento\CatalogGraphQl\Model\Resolver\Product\MediaGallery">
        <plugin name="graphcommerce_catalog_storefront_media_gallery" type="GraphCommerce\CatalogStorefrontGraphQl\Plugin\Resolver\MediaGalleryFromDocument"/>
    </type>
    <type name="Magento\UrlRewriteGraphQl\Model\Resolver\UrlRewrite">
        <plugin name="graphcommerce_catalog_storefront_url_rewrites" type="GraphCommerce\CatalogStorefrontGraphQl\Plugin\Resolver\UrlRewritesFromDocument"/>
    </type>
    <type name="Magento\RelatedProductGraphQl\Model\Resolver\Batch\AbstractLikedProducts">
        <plugin name="graphcommerce_catalog_storefront_linked_products" type="GraphCommerce\CatalogStorefrontGraphQl\Plugin\Resolver\LinkedProductsFromDocuments"/>
    </type>
    <type name="Magento\CatalogGraphQl\Model\Resolver\Categories">
        <plugin name="graphcommerce_catalog_storefront_categories" type="GraphCommerce\CatalogStorefrontGraphQl\Plugin\Resolver\CategoriesFromDocuments"/>
    </type>
    <type name="Magento\CatalogGraphQl\Model\Resolver\CategoriesQuery">
        <plugin name="graphcommerce_catalog_storefront_category_list" type="GraphCommerce\CatalogStorefrontGraphQl\Plugin\Resolver\CategoryListFromDocuments"/>
    </type>
    <type name="Magento\CatalogGraphQl\Model\Resolver\CategoryList">
        <plugin name="graphcommerce_catalog_storefront_category_list" type="GraphCommerce\CatalogStorefrontGraphQl\Plugin\Resolver\CategoryListFromDocuments"/>
    </type>
    <type name="Magento\CatalogGraphQl\Model\Resolver\Product\ProductCustomAttributes">
        <plugin name="graphcommerce_catalog_storefront_custom_attributes" type="GraphCommerce\CatalogStorefrontGraphQl\Plugin\Resolver\CustomAttributesFromDocument"/>
    </type>
    <type name="Magento\EavGraphQl\Model\TypeResolver\AttributeValue">
        <plugin name="graphcommerce_catalog_storefront_attribute_value_type" type="GraphCommerce\CatalogStorefrontGraphQl\Plugin\Resolver\AttributeValueTypeFromDocument"/>
    </type>
    <type name="Magento\CatalogGraphQl\DataProvider\Product\LayeredNavigation\AttributeOptionProvider">
        <plugin name="graphcommerce_catalog_storefront_attribute_options" type="GraphCommerce\CatalogStorefrontGraphQl\Plugin\Layer\AttributeOptionsFromDocuments"/>
    </type>
    <type name="Magento\CatalogGraphQl\DataProvider\Product\LayeredNavigation\Builder\Category">
        <plugin name="graphcommerce_catalog_storefront_category_facet" type="GraphCommerce\CatalogStorefrontGraphQl\Plugin\Layer\CategoryFacetFromDocuments"/>
    </type>
    <type name="Magento\CatalogGraphQl\DataProvider\Product\LayeredNavigation\Builder\Aggregations\Category\IncludeDirectChildrenOnly">
        <plugin name="graphcommerce_catalog_storefront_category_facet" type="GraphCommerce\CatalogStorefrontGraphQl\Plugin\Layer\CategoryFacetFromDocuments"/>
    </type>
    <type name="Magento\CatalogGraphQl\DataProvider\Product\LayeredNavigation\RootCategoryProvider">
        <plugin name="graphcommerce_catalog_storefront_root_category" type="GraphCommerce\CatalogStorefrontGraphQl\Plugin\Layer\RootCategoryFromStore"/>
    </type>
    <type name="Magento\CustomerGraphQl\CacheIdFactorProviders\CustomerTaxRateProvider">
        <plugin name="graphcommerce_catalog_storefront_tax_rate_memo" type="GraphCommerce\CatalogStorefrontGraphQl\Plugin\CacheId\CustomerTaxRateMemo"/>
    </type>
    <type name="Magento\Framework\GraphQl\Schema\SchemaGeneratorInterface">
        <plugin name="graphcommerce_catalog_storefront_reuse_schema" type="GraphCommerce\CatalogStorefrontGraphQl\Plugin\Query\ReuseSchema"/>
    </type>
    <type name="Magento\Framework\GraphQl\Query\QueryProcessor">
        <plugin name="graphcommerce_catalog_storefront_validate_once" type="GraphCommerce\CatalogStorefrontGraphQl\Plugin\Query\ValidateOncePerProcess"/>
    </type>

    <!-- Fields the executor reads from the pre-filled value instead of calling the core resolver. -->
    <type name="GraphCommerce\CatalogStorefrontGraphQl\Plugin\Query\ReuseSchema">
        <arguments>
            <argument name="prefilledFields" xsi:type="array">
                <item name="ProductInterface" xsi:type="array">
                    <item name="uid" xsi:type="string">uid</item>
                    <item name="id" xsi:type="string">id</item>
                    <item name="new_from_date" xsi:type="string">new_from_date</item>
                    <item name="new_to_date" xsi:type="string">new_to_date</item>
                    <item name="image" xsi:type="string">image</item>
                    <item name="small_image" xsi:type="string">small_image</item>
                    <item name="thumbnail" xsi:type="string">thumbnail</item>
                    <item name="price_range" xsi:type="string">price_range</item>
                    <item name="price" xsi:type="string">price</item>
                    <item name="price_tiers" xsi:type="string">price_tiers</item>
                    <item name="tier_prices" xsi:type="string">tier_prices</item>
                    <item name="websites" xsi:type="string">websites</item>
                    <item name="media_gallery_entries" xsi:type="string">media_gallery_entries</item>
                </item>
                <item name="CategoryInterface" xsi:type="array">
                    <item name="product_count" xsi:type="string">product_count</item>
                    <item name="breadcrumbs" xsi:type="string">breadcrumbs</item>
                </item>
                <item name="ProductImage" xsi:type="array">
                    <item name="url" xsi:type="string">url</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="GraphCommerce\CatalogStorefrontGraphQl\Model\DocumentHydration">
        <arguments>
            <argument name="prefillers" xsi:type="array">
                <item name="productFields" xsi:type="object">GraphCommerce\CatalogStorefrontGraphQl\Model\Prefill\ProductFields</item>
                <item name="prices" xsi:type="object">GraphCommerce\CatalogStorefrontGraphQl\Model\Prefill\Prices</item>
            </argument>
            <argument name="priceFields" xsi:type="array">
                <item name="price_range" xsi:type="string">price_range</item>
                <item name="price" xsi:type="string">price</item>
                <item name="price_tiers" xsi:type="string">price_tiers</item>
                <item name="tier_prices" xsi:type="string">tier_prices</item>
            </argument>
            <argument name="fieldDocumentKeys" xsi:type="array">
                <item name="description" xsi:type="array"><item name="0" xsi:type="string">description</item></item>
                <item name="short_description" xsi:type="array"><item name="0" xsi:type="string">shortDescription</item></item>
                <item name="media_gallery" xsi:type="array"><item name="0" xsi:type="string">media_gallery</item><item name="1" xsi:type="string">images</item><item name="2" xsi:type="string">videos</item></item>
                <item name="media_gallery_entries" xsi:type="array"><item name="0" xsi:type="string">media_gallery</item><item name="1" xsi:type="string">images</item><item name="2" xsi:type="string">videos</item></item>
                <item name="url_rewrites" xsi:type="array"><item name="0" xsi:type="string">urlRewrites</item></item>
                <item name="related_products" xsi:type="array"><item name="0" xsi:type="string">links</item></item>
                <item name="upsell_products" xsi:type="array"><item name="0" xsi:type="string">links</item></item>
                <item name="crosssell_products" xsi:type="array"><item name="0" xsi:type="string">links</item></item>
                <item name="categories" xsi:type="array"><item name="0" xsi:type="string">categoryData</item></item>
                <item name="custom_attributesV2" xsi:type="array"><item name="0" xsi:type="string">customAttributes</item></item>
                <item name="product_links" xsi:type="array"><item name="0" xsi:type="string">links</item><item name="1" xsi:type="string">optionsV2</item></item>
                <item name="options" xsi:type="array"><item name="0" xsi:type="string">optionsV2</item><item name="1" xsi:type="string">shopperInputOptions</item></item>
            </argument>
            <argument name="baseFields" xsi:type="array">
                <item name="__typename" xsi:type="string">__typename</item>
                <item name="uid" xsi:type="string">uid</item>
                <item name="id" xsi:type="string">id</item>
                <item name="sku" xsi:type="string">sku</item>
                <item name="name" xsi:type="string">name</item>
                <item name="url_key" xsi:type="string">url_key</item>
                <item name="url_suffix" xsi:type="string">url_suffix</item>
                <item name="type_id" xsi:type="string">type_id</item>
                <item name="created_at" xsi:type="string">created_at</item>
                <item name="updated_at" xsi:type="string">updated_at</item>
                <item name="image" xsi:type="string">image</item>
                <item name="small_image" xsi:type="string">small_image</item>
                <item name="thumbnail" xsi:type="string">thumbnail</item>
                <item name="price_range" xsi:type="string">price_range</item>
                <item name="new_from_date" xsi:type="string">new_from_date</item>
                <item name="new_to_date" xsi:type="string">new_to_date</item>
                <item name="canonical_url" xsi:type="string">canonical_url</item>
                <item name="price" xsi:type="string">price</item>
                <item name="price_tiers" xsi:type="string">price_tiers</item>
                <item name="tier_prices" xsi:type="string">tier_prices</item>
                <item name="websites" xsi:type="string">websites</item>
                <item name="attribute_set_id" xsi:type="string">attribute_set_id</item>
            </argument>
        </arguments>
    </type>
</config>
