<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="GraphCommerce_CatalogStorefrontGraphQl">
        <sequence>
            <module name="GraphCommerce_CatalogStorefront"/>
            <module name="GraphCommerce_CatalogStorefrontGraphQlApi"/>
            <module name="Magento_CatalogGraphQl"/>
            <module name="Magento_GraphQlCache"/>
            <module name="Magento_GraphQlResolverCache"/>
            <module name="Magento_Integration"/>
            <module name="Magento_JwtUserToken"/>
        </sequence>
    </module>
</config>
