<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <graphcommerce>
            <catalog_storefront>
                <serve_reads>0</serve_reads>
            </catalog_storefront>
        </graphcommerce>
        <!-- User-defined attributes come from the EAV cache; the search adapter otherwise loads each facet attribute with SQL. -->
        <dev>
            <caching>
                <cache_user_defined_attributes>1</cache_user_defined_attributes>
            </caching>
        </dev>
    </default>
</config>
