<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\DataExporter\Model\ExportFeedInterface"
                type="GraphCommerce\CatalogStorefront\Model\LocalExportFeed"/>

    <type name="GraphCommerce\CatalogStorefront\Model\Storage\Client\Config\EntityConfigPool">
        <arguments>
            <argument name="configs" xsi:type="array">
                <item name="product" xsi:type="object">GraphCommerce\CatalogStorefront\Model\Storage\Client\Config\Product</item>
                <item name="category" xsi:type="object">GraphCommerce\CatalogStorefront\Model\Storage\Client\Config\Category</item>
                <item name="product_variant" xsi:type="object">GraphCommerce\CatalogStorefront\Model\Storage\Client\Config\ProductVariant</item>
            </argument>
        </arguments>
    </type>
</config>
