<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="GraphCommerce_CatalogStorefront">
        <sequence>
            <module name="Magento_DataExporter"/>
            <module name="Magento_CatalogDataExporter"/>
        </sequence>
    </module>
</config>
