<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\DownloadableGraphQl\Resolver\Product\Links">
        <plugin name="graphcommerce_catalog_storefront_downloadable_links" type="GraphCommerce\CatalogStorefrontDownloadableGraphQl\Plugin\Resolver\DownloadableLinksFromDocument"/>
    </type>
    <type name="Magento\DownloadableGraphQl\Resolver\Product\Samples">
        <plugin name="graphcommerce_catalog_storefront_downloadable_samples" type="GraphCommerce\CatalogStorefrontDownloadableGraphQl\Plugin\Resolver\DownloadableSamplesFromDocument"/>
    </type>
</config>
