<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\BundleGraphQl\Model\Resolver\BundleItems">
        <plugin name="graphcommerce_catalog_storefront_bundle_items" type="GraphCommerce\CatalogStorefrontBundleProductGraphQl\Plugin\Resolver\BundleItemsFromDocument"/>
    </type>
    <type name="GraphCommerce\CatalogStorefrontGraphQl\Model\DocumentHydration">
        <arguments>
            <argument name="prefillers" xsi:type="array">
                <item name="bundlePriceDetails" xsi:type="object">GraphCommerce\CatalogStorefrontBundleProductGraphQl\Model\Prefill\PriceDetails</item>
            </argument>
            <argument name="priceFields" xsi:type="array">
                <item name="price_details" xsi:type="string">price_details</item>
            </argument>
        </arguments>
    </type>
    <type name="GraphCommerce\CatalogStorefrontGraphQl\Plugin\Query\RoutePrefilledFields">
        <arguments>
            <argument name="prefilledFields" xsi:type="array">
                <item name="BundleProduct" xsi:type="array">
                    <item name="price_details" xsi:type="string">price_details</item>
                </item>
                <item name="BundleItem" xsi:type="array">
                    <item name="options" xsi:type="string">options</item>
                    <item name="price_range" xsi:type="string">price_range</item>
                </item>
                <item name="BundleItemOption" xsi:type="array">
                    <item name="label" xsi:type="string">label</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
