<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="GraphCommerce_CatalogStorefrontConfigurableProductListing">
        <sequence>
            <module name="GraphCommerce_CatalogStorefrontProductListing"/>
            <module name="GraphCommerce_CatalogStorefrontConfigurableProduct"/>
            <!-- Temporary: it writes the configurableOptions document field. See the README. -->
            <module name="GraphCommerce_CatalogStorefrontConfigurableProductGraphQl"/>
            <module name="Magento_ConfigurableProduct"/>
        </sequence>
    </module>
</config>
