<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <storefront_documents>
                <serve_plp>0</serve_plp>
                <serve_pdp>0</serve_pdp>
            </storefront_documents>
        </catalog>
    </default>
</config>
