<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="GraphCommerce\CatalogStorefront\Model\Read\PriceRanges">
        <arguments>
            <argument name="ranges" xsi:type="array">
                <item name="grouped" xsi:type="object">GraphCommerce\CatalogStorefrontGroupedProduct\Model\Read\GroupedRange</item>
            </argument>
        </arguments>
    </type>
</config>
