<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="GraphCommerce\CatalogStorefront\Model\Document\Delivery">
        <arguments>
            <argument name="writers" xsi:type="array">
                <item name="inventory_data_exporter_stock_status" xsi:type="object">GraphCommerce\CatalogStorefrontInventory\Model\Document\Writer\Stock</item>
            </argument>
        </arguments>
    </type>
    <type name="GraphCommerce\CatalogStorefront\Console\Command\Rebuild">
        <arguments>
            <argument name="feeds" xsi:type="array">
                <item name="product" xsi:type="array">
                    <item name="inventory_data_exporter_stock_status" xsi:type="object">Magento\InventoryDataExporter\Model\Indexer\StockStatusFeedIndexMetadata</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
