<div ifnot="$row().sourcesAvailable" translate="'Unavailable'"></div>
<div if="$row().sourcesAvailable">
    <span ifnot="$row().inventorySources.length" translate="'No Inventory Sources assigned'"></span>
    <div each="data: $row().inventorySources, as: 'inventorySource'">
        <span text="inventorySource.name"></span>
        <span class="catalog-overview-subline" text="' (' + inventorySource.code + ')' "></span>
        <span ifnot="inventorySource.enabled" class="catalog-overview-subline" translate="' — Disabled'"></span>
    </div>
</div>
