<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="GraphCommerce_CatalogStorefrontGroupedProductFrontend">
        <sequence>
            <module name="GraphCommerce_CatalogStorefrontInventory"/>
            <module name="GraphCommerce_CatalogStorefrontProductFrontend"/>
            <module name="GraphCommerce_CatalogStorefrontGroupedProduct"/>
            <module name="Magento_GroupedProduct"/>
        </sequence>
    </module>
</config>
